# Rename this file to .env and change password and etc.
# Keep .env file private and don't commit to remote repository!
USER_NAME=ds
USER_PASSWORD=ds
FERNET_KEY=46BKJoQYlPPOexq0OhDZnIlNepKFf87WFwLbfzqDDho=
START_JUPYTERHUB=yes
START_RSTUDIO=yes
START_AIRFLOW=no
